.home-container {
  /*Layout*/
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.form-calculator-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  width: 60%;
  background-color: var(--variable-collection-black-gold);
  padding: 0 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--variable-collection-light-gold-hard);
}

.form-calculator-container h1 {
  /*Font*/
  font-size: 2rem;
  font-weight: 600;
  color: var(--variable-collection-light-gold-hard);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  /*Display*/
  text-align: center;
  padding: 0;
  margin: 1rem 0rem 0rem;
}

.form-calculator-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-calculator-container .button-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

/*Tablet 900px a 800px*/
@media (max-width: 900px) {
}

/*Movil 799px a 0px*/
@media (max-width: 799px) {

  .home-container {
    padding: 1.5rem 0.5rem;
  }
  .form-calculator-container {
    width: 98%;
  }
}
